{% extends 'base.html' %}

{% block title %}Currency Exchange{% endblock title %}

{% block content %}

<div>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </form>
    <table class="table table-bordered table-sm">
        <caption>Rates List</caption>
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Created</th>
                <th>Currency</th>
                <th>Buy</th>
                <th>Sale</th>
                <th>Source</th>
            </tr>
        </thead>
        {% for obj in object_list %}
            <tr>
                <th>{{ obj.id }}</th>
                <td>{{ obj.created }}</td>
                <td>{{ obj.get_currency_display }}</td>
                <td>{{ obj.buy }}</td>
                <td>{{ obj.sale }}</td>
                <td>{{ obj.get_source_display }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'includes/pagination.html' %}
</div>

{% endblock %}
